alias meraculous='docker run --rm -v /mnt:/mnt gfanz/meraculous'; alias evaluate_meraculous_run.sh='docker run --rm -v /mnt:/mnt --entrypoint "/opt/meraculous/bin/evaluate_meraculous_run.sh" gfanz/meraculous'; alias fasta_stats='docker run --rm -v /mnt:/mnt --entrypoint "/opt/meraculous/bin/fasta_stats" gfanz/meraculous'
