alias dape='docker run --rm -v /mnt:/mnt gfnaz/ductape' ; alias dgenome='docker run --rm -v /mnt:/mnt --entrypoint "/usr/local/bin/dgenome" gfnaz/ductape' ; alias dphenome='docker run --rm -v /mnt:/mnt --entrypoint "/usr/local/bin/dphenome" gfnaz/ductape'
