# This file provides information for making the access to the tool as if it were locally installed. You can have as many
# aliases as there are access points (as defined in the docker file) which point to executables installed in the
# docker container by the install.sh script
alias bowtie2='docker run --rm -v /mnt:/mnt gfanz/bowtie2'; alias bowtie2-align-s='docker run --rm -v /mnt:/mnt --entrypoint "/usr/bin/bowtie2-align-s" gfanz/bowtie2'
