alias bowtie2='docker run --rm -v /mnt:/mnt gfanz/bowtie2'; alias bowtie2-align-s='docker run --rm -v /mnt:/mnt --entrypoint "/usr/bin/bowtie2-align-s" gfanz/bowtie2'; alias bowtie2-align-l='docker run --rm -v /mnt:/mnt --entrypoint "/usr/bin/bowtie2-align-l" gfanz/bowtie2'; alias bowtie2-build='docker run --rm -v /mnt:/mnt --entrypoint "/usr/bin/bowtie2-build" gfanz/bowtie2'; alias bowtie2-build-l='docker run --rm -v /mnt:/mnt --entrypoint "/usr/bin/bowtie2-build-l" gfanz/bowtie2'; alias bowtie2-build-s='docker run --rm -v /mnt:/mnt --entrypoint "/usr/bin/bowtie2-build-s" gfanz/bowtie2'; alias bowtie2-inspect='docker run --rm -v /mnt:/mnt --entrypoint "/usr/bin/bowtie2-inspect" gfanz/bowtie2'; alias bowtie2-inspect-l='docker run --rm -v /mnt:/mnt --entrypoint "/usr/bin/bowtie2-inspect-l" gfanz/bowtie2'; alias bowtie2-inspect-s='docker run --rm -v /mnt:/mnt --entrypoint "/usr/bin/bowtie2-inspect-s" gfanz/bowtie2'
